Repository MmgTools/ParMmg, pull requests merged in 2024-10, with the labels that each got.

#123 (1) Change tag type (int -> uint) and (2) creation of the overlap
  CMakeLists.txt
  cmake/testing/pmmg_tests.cmake
  src/analys_pmmg.c
  src/boulep_pmmg.c
  src/communicators_pmmg.c
  src/debug_pmmg.c
  src/debug_pmmg.h
  src/hash_pmmg.c
  src/libparmmg.c
  src/libparmmgtypes.h
  src/ls_pmmg.c
  src/mergemesh_pmmg.c
  src/mpi_pmmg.h
  src/overlap_pmmg.c
  src/parmmg.h
  src/quality_pmmg.c
  src/tag_pmmg.c
Labels: kind: enhancement, part: parmmg, part: ls discretization, part: analysis

#129 Edge tag consistency
  CMakeLists.txt
  src/analys_pmmg.c
  src/communicators_pmmg.c
  src/grpsplit_pmmg.c
  src/hash_pmmg.c
  src/libparmmg.c
  src/libparmmg1.c
  src/loadbalancing_pmmg.c
  src/ls_pmmg.c
  src/mergemesh_pmmg.c
  src/parmmg.h
  src/quality_pmmg.c
  src/tag_pmmg.c
Labels: kind: bug, kind: enhancement, part: mmg3d / mesh, part: parmmg, part: analysis

#131 Add multimat mode to ls split
  cmake/testing/pmmg_tests.cmake
  src/analys_pmmg.c
  src/grpsplit_pmmg.c
  src/hash_pmmg.c
  src/libparmmg.c
  src/libparmmg1.c
  src/loadbalancing_pmmg.c
  src/ls_pmmg.c
  src/parmmg.h
Labels: part: parmmg, part: ls discretization

#133 Disable value snapping (implementation in progress)
  cmake/testing/pmmg_tests.cmake
  src/ls_pmmg.c
Labels: kind: cleanup, part: parmmg, part: ls discretization
