Repository MmgTools/ParMmg, pull requests merged in 2024-09, with the labels that each got.

#110 Fix problems with extra triangles in input mesh
  cmake/testing/pmmg_tests.cmake
  src/analys_pmmg.c
  src/communicators_pmmg.c
  src/hash_pmmg.c
  src/libparmmg.c
  src/parmmg.h
Labels: kind: bug, part: I/O, part: parmmg

#127 Remove dead code
  src/analys_pmmg.c
Labels: kind: cleanup, part: parmmg, part: analysis

#126 Fix the way internal and external communicators communicate in `PMMG_cuttet_ls`
  cmake/testing/pmmg_tests.cmake
  src/hash_pmmg.c
  src/libparmmg.c
  src/ls_pmmg.c
  src/parmmg.h
Labels: kind: enhancement, part: parmmg, part: ls discretization
